name: Updates manifest for multi arch release

on:
  workflow_call:
    inputs:
      version_tag:
        required: true
        type: string
      docker_hub:
        required: true
        type: string
      docker_repo:
        required: true
        type: string
      image_name:
        required: true
        type: string
      dockerhub_repo:
        required: true
        type: string

jobs:
  publish_manifest:
    name: Publish proper manifest
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        if: ${{ inputs.docker_hub == 'GHCR' || inputs.docker_hub == 'All' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: ${{ inputs.docker_hub == 'DockerHub' || inputs.docker_hub == 'All' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create GHCR manifest for ${{inputs.version_tag}}
        if: ${{ inputs.docker_hub == 'GHCR' || inputs.docker_hub == 'All' }}
        run: |
          docker manifest create ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} \
            --amend ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-amd64 \
            --amend ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-aarch64

          docker manifest annotate --arch amd64 --os linux ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-amd64
          docker manifest annotate --arch arm64 --os linux ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-aarch64
          docker manifest inspect ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}

          docker manifest push ${{inputs.docker_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}

      - name: Create Docker Hub manifest for ${{inputs.version_tag}}
        if: ${{ inputs.docker_hub == 'DockerHub' || inputs.docker_hub == 'All' }}
        run: |
          docker manifest create ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} \
            --amend ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-amd64 \
            --amend ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-aarch64

          docker manifest annotate --arch amd64 --os linux ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-amd64
          docker manifest annotate --arch arm64 --os linux ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}} ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}-aarch64
          docker manifest inspect ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}

          docker manifest push ${{inputs.dockerhub_repo}}/${{inputs.image_name}}:${{inputs.version_tag}}
